.card {
    background-color: #c5c5c5;
    width: 300px;
    margin: 20px auto;
}

.card-head {
    text-align: center;
    font-weight: bold;

    tr {
        &:first-child {
            background-color: #fff;

            th {
                height: 100px;

                img {
                    height: 100%;
                }
            }
        }
    }
}

.card-body {
    text-align: center;
}

.card-footer {
    button {
        width: 100%;
        /* border: 1px solid black !important; */
    }
}

.member {
    color: #717171;
}